body{
  font-family: monospace;
  background: linear-gradient(#4A9BE2,#A4CDF0,#ACD1F1) fixed;
  overflow: hidden;
}

#about {
  bottom: 5vw;
  right: 0vw;
  font-size: 12vw;
  z-index: 3;
  width: 12vw;
  height: 5vw;
  word-wrap: break-word;
  text-align: justify;
  transition: .8s;
  position: absolute;
}

#forg{
  float: right;
  z-index: 3;
  height: auto;
  width: 30vw
}

#dumb{
  width: 80%;
  height: auto;
}

.arrow{
  font-size: 12vw;
  text-shadow: 2px 2px 4px #000000;
}

@keyframes arrow{
  50% {
    transform: scale(.8);
  }
  100%{
    transform: scale(1)
  }
}

.arrow:hover {
 animation-name: arrow;
 animation-duration: 1s;
}

.h4-responsive, p{
  color: black;
}

.innerContent{
  padding: 3vw;
  text-align: justify;
  word-wrap: break-word;
}

.slipOut{
  animation: slipOut 40.5s steps(20, end) infinite;
}

@keyframes slipOut{
  0% {bottom: 5vw; animation-timing-function: ease-in;}
  40% {bottom: 4.3vw; animation-timing-function: ease-in;}
  50% {bottom: 4.3vw; animation-timing-function: ease-in;}
  51% {bottom: -200vw; animation-timing-function: ease-in;}
}

.slipIn{
  animation: slipIn 40.5s steps(800, end) infinite;

}

@keyframes slipIn{
  0% {bottom: -10vw}
  50% {bottom: 5vw}
  100% {bottom: 5vw}
}

.carousel-caption {
  top:7vw;
  bottom: auto;
  background-color: rgba(200, 200, 200, 0.85);
  margin-top: 2vh;
  overflow-x: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.langPick{
  position: absolute;
  z-index: 3;
  top: 0vh;
  padding-bottom: 2vh;
  height: 7vw;
  width: 7vw;
  font-size: 5vw;
  text-align: center;
  justify-content: center;
  text-shadow: 2px 2px 4px #000000;
}

#en{
  left: 10vw;
}

#esp{
  left: 25vw;
}

#kr{
  left: 40vw;
}

#ch{
  left: 55vw;
}

#frs{
  left: 70vw;
}

#hdi{
  left: 85vw;
}

@media screen and (orientation: portrait){

  #hands{
    width: 66vw;
    height: auto;
  }

}


@media screen and (orientation: landscape){

  .carousel-caption {
    top:7vw;
    bottom: auto;
    background-color: rgba(200, 200, 200, 0.85);
    margin-top: 2vh;
    font-size: 3vh; 
    overflow-y: scroll;   
  }
  
  #hands{
    width: 55vw;
    height: auto;
  }

}
