body{
  overflow: hidden;
}

#contact{
  position: absolute;
  left: 0vw;
  bottom: 15vh;
  z-index: 2;
  background-color:  silver;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  padding: 1.2vw;
  height: auto;
  width: 17vw;
  font-size: 2.5vw;
  transition-duration: .3s;
  transition-property: color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact:hover{
  background-color: lightgray;
}

.contactNudge{
  animation-name: contactNudge;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes contactNudge{
  50%{ transform: scale(1) ; animation-timing-function: ease-in-out;}
  55%{ transform: scale(1.1) ; animation-timing-function: ease-in-out;}
  60%{ transform: scale(1) ; animation-timing-function: ease-in-out;}
}

hr{
  background-color: dar;
  border: none;
}

#about {
  border-radius: 5%;
  position: absolute;
  bottom: 10vw;
  right: -5vw;
  font-size: 12vw;
  z-index: 3;
  width: 12vw;
  height: 12vw;
  word-wrap: break-word;
  text-align: justify;
  transition: .5s;

}
.langPick{
  position: absolute;
  z-index: 3;
  top: 0vh;
  padding-bottom: 2vh;
  height: 7vw;
  width: 7vw;
  font-size: 5vw;
  text-align: center;
  justify-content: center;
  text-shadow: 2px 2px 4px #000000;
}

.avail{
  animation-name: avail;
  animation-duration: 5s;
  transition-property: transform;
  transition-duration: 0.4s;
  animation-iteration-count: 1;
}

.avail:hover{
 transform: scale(1.3);
}

@keyframes avail{
  0%{ transform: scale(1) }
  5%{ transform: scale(1.3) }
  10%{ transform: scale(1) }
  90%{ transform: scale(1) }
  95%{ transform: scale(1.3) }
  100%{ transform: scale(1) }
}

.unavail{
  top: 1.5vh;
  font-size: 2vw;
}

.carousel-item{
  font-family: 'Baloo Da 2', cursive;
  overflow: hidden;
}

.min-vh-90{
  height: 80vh;
}

#forg{
  z-index: 5;
  height: auto;
  width: 30vw;
  float: right;
}

#forg2{
  z-index: 5;
  height: auto;
  width: 30vw;
  float: right;
}

#dumb{
  width: 30%;
  padding: 1vw;
  vertical-align: text-top;
  float:left;
  height: auto;
}

.arrow{
  font-size: 12vw;
  text-shadow: 2px 2px 4px #000000;
}

@keyframes arrow{
  50% {
    transform: scale(.8);
  }
  100%{
    transform: scale(1)
  }
}

.arrow:hover {
 animation-name: arrow;
 animation-duration: 1s;
}

.h4-responsive, p{
  color: black;
}

.innerContent{
  padding: 3vw;
  font-family: 'Baloo Da 2', cursive;
  text-align: justify;
  word-wrap: break-word;
}

.slipOut{
  animation: slipOut 40.5s steps(20, end) infinite;
}

@keyframes slipOut{
  0% {bottom: 16vw; animation-timing-function: ease-in-out;}
  20% {bottom: 16vw; animation-timing-function: ease-in-out;}
  40% {bottom: 9vw; animation-timing-function: ease-in-out;}
  50% {bottom: 9vw; animation-timing-function: ease-in-out;}
  51% {bottom: -200vw; animation-timing-function: ease-in-out;}
}

.slipIn{
  animation: slipIn 40.5s steps(800, end) infinite;

}

@keyframes slipIn{
  0% {bottom: -10vw; animation-timing-function: ease-in-out;}
  50% {bottom: 18vw; animation-timing-function: ease-in-out;}
  100% {bottom: 18vw; animation-timing-function: ease-in-out;}
}

.carousel-caption {
  top:7vw;
  font-size: 3.2vw;
  bottom: auto;
  background-color: rgba(200, 200, 200, 0.85);
  margin-top: 2vh;
  padding: 5vw;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h4-responsive{
  padding-right: 5vw;
  padding-left: 5vw;
  font-size: 4vw;
}

.rtl{
  direction: right;
}

#en{
  left: 10vw;
}

#esp{
  left: 25vw;
}

#kr{
  left: 40vw;
}

#ch{
  left: 55vw;
}

#frs{
  left: 70vw;
}

#hdi{
  left: 85vw;
}

@media screen and (orientation: portrait){

  #hands{
    width: 30vh;
    height: auto;
  }

}

@media screen and (orientation: landscape){

  .carousel-caption {
    top:7vw;
    bottom: auto;
    margin-top: 2vh;
    font-size: 3vh; 
    overflow-y: scroll;  
    padding: 3vw
  }

  #dumb{
    width: 17vh;
    padding: 1vw;
    vertical-align: text-bottom;
    float:left;
    height: auto;
  }
  
  #hands{
    width: auto;
    height: 30vh;
  }

  #forg{
    z-index: 5;
    height: auto;
    width: 15vw;
    float: right;
  }

  .h4-responsive{
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 2vw;
  }

}